# Rename this file to env.production and remember to add to .gitignore

# Example environment variable for use in script
DB_CONN=postgres://username:password@localhost/database
DESTINATION_BUCKET=somes3bucket
