# Rename this file to env.production[development|stage|whatever] and remember to add to .gitignore

# Environment variables for use in the script
DB_CONN=postgres://username:password@localhost/database
DESTINATION_BUCKET=somes3bucket
FUNCTION=yourlambdafunctionname
REGION=lambdaawsregion
